{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppFut/css/styles.css' %}" rel="stylesheet" />
    <title>Detalles Socio</title>
    <style>
        body {
          background-image: url("{% static 'AppFut/assets/img/blanco.jpg' %}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
</head>
<body>
    <h1> <strong>Detalle del socio</strong> </h1>
        <p><strong>Nombre del socio:</strong>  {{socio.nombre}}</p> 
        <p><strong> Apellido del socio:</strong> {{socio.apellido}}</p> 
        <p><strong>Email del socio:</strong>  {{socio.email}}</p>

    <a class="btn btn-primary1 btn-xlN2" href="{% url 'LeerSocio' %}">Regresar</a>
    <br>
    <br>
    <a class="btn btn-primary1 btn-xlN2" href="{% url 'Inicio' %}">Volver al Inicio</a>
</body>
</html>